body, html {
    height: 100%;
    font-family: Calibri;
    
}

.nav-item{
    padding-right: 20px;
    padding-left: 20px;
}

.sectionHeader{
    border-bottom: 1px solid lightblue;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 20px;
}

#titleScreen {
    /* The image used */
    background-image: url(images/mountainBackground.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    text-align: center;
    padding: 0px;
}

#titleScreen h1{
    padding-top: 10%;
    font-size: 65px;
    font-weight: 100;
    font-family: Montserrat
}

#titleScreen .container{
    width: 300px;
    opacity: .8;
    
}

.logo:hover{
    opacity: .5;
}

.aboutMeButton{
    background-color: transparent;
    border-color: black;
    border-width: 1.5px;
    opacity: .7;
    font-weight: 600;
    width: 150px;
}
.aboutMeButton:hover{
    opacity: .5;

}

/*
About me
*/
.aboutMe{
    text-align: center;
    padding-top: 20pt;     
    font-weight: 100;

}
.aboutMe p{
    text-align: right;
    font-size: 25px;
}
.aboutMe h3{

}



.cameronPhoto{
    width: 100%;
    height: auto;
    border-radius: 40%;
}





.col-lg{
    text-align: center;
}

.col-lg ul{
    list-style-type: none;
    padding: 0;
    
}

.projectGalleryBack{
    width: 100%;
    background-color: whitesmoke;
    ;

}

.projGalleryBlocks{
    width: 70%;
    
}

}
.thumbnail{
    
}

.caption{
    color: black;
    padding: 8px;
}




.carousel{
    width: 80%;
    margin-left: auto
    
}


.col-6{
    background-color: whitesmoke
}




.travelPar{
    font-size: 25px;
}
#travelBack{
    background-color: whitesmoke;
}
#carouselExampleIndicators{
    background-color: black;
}

#contactScreen{
    background-image: url(images/mountain2.jpg);
        /* Full height */
    height: 10%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: Montserrat;
    
}
#contactScreen .row{
    padding-top: 25px
}

/*
Image gallary*/
#travelSection{
    width: 80%;
    background-color: white
}
.photoGridRow{
    height: auto;
    width: auto;
    padding: 0px;
    
}
.photoGridRow div{
    padding: 0px;
    
}
.travelImg{
    width: 100%;
    padding: 0px;
}
/*
.travelImg:hover{
    opacity: .8;
}
*/
.buttonCon{
    padding: 20px;
    
}
.photoButton{
    background-color: transparent;
    border-color: black;
    border-width: 1.5px;
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: block;
 
}
.photoButton:hover{
    opacity: .7;
    background-color: lightgrey;
}

#contactSection{
    background-color: whitesmoke;
}

#contactSection h3, h5{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

